name: Node.js CD

on:
  push:
    branches: [ 'main' ] # Check if your branch is 'main' or 'master'

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Restart Server
        # This updates the code and tells PM2 to refresh the app
        run: pm2 restart ttsign || pm2 start server.js --name ttsign